
body {
    margin: 0px;
    padding: 0px;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #4c5a77;
    line-height: 29px;
    font-weight: 300;
}


h1, h2, h3, h4 {
    font-family: 'Nunito', sans-serif;
    color: #4c5a77;
    font-weight: 800;
}


input {
    outline: 0 !important;
    box-shadow: none !important;
}

.btn {
    outline: 0 !important;
    box-shadow: none !important;
}

p {
    color: #bababa;
    margin-bottom: 25px;
}

ul {
    line-height: 25px;
    color: #4c5a77;
    font-size: 16px;
}


#header {
    /*padding: 0px 0px;
    z-index: 1000000;
    position: fixed;
    background: white;
    top: 0px;
    width: 100%;
    box-shadow: 0px 0px 6px 0px #dfdfdf;*/
    background: #000;
    padding: 0px 0px;
    z-index: 1000000;
}




.social i {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: #FF1616 !important;;
    color: #2f2f2f;
    text-align: center;
    font-size: 17px;
    margin-right: 6px;
    line-height: 40px;
    border-radius: 100%;
    margin-top: 0px;
}

    .social i:hover {
        opacity: 0.9;
        background: #9e9e9e !important;
    }

.social a:hover {
    text-decoration: none;
}

.logo-img {
    width: 90px;
}

.custom-nav {
    padding: 3px 0px !important;
}

.custom-nav-details a {
    padding: 5px 15px !important;
    font-size: 15px;
    color: #fff !important;
    font-weight: 600;
}


.header-scrolled .custom-nav-details a {
    color: rgb(34, 59, 85) !important;
}

.header-scrolled .logo-img {
    width: 80px !important;
}



.custom-nav-details {
    padding-top: 10px;
}




    .custom-nav-details .btn-header {
        background: #FF1616;
        border: 2px solid #fff !important;
        text-align: center;
        border-radius: 5px;
        color: #fff !important;
        padding: 8px 29px 9px 29px !important;
        margin-top: -8px;
        transition: 0.3s;
    }



.header-scrolled .custom-nav-details .btn-header {
    background: #FF1616;
    border: 2px solid #ece9ea !important;
    text-align: center;
    border-radius: 45px;
    padding: 8px 29px 9px 29px !important;
    margin-top: -8px;
}

.custom-nav-details .btn-header:hover {
    color: #4f4f4f !important;
    background: #fff !important;
}




.header-scrolled {
    position: fixed;
    top: 0px;
    width: 100% !important;
    background: white !important;
    z-index: 10000;
    padding: 0px !important;
    box-shadow: 0px 0px 6px 0px #dfdfdf;
}

.background-text {
    z-index: 5;
    position: relative;
}

.bg1 {
    position: relative;
    background-image: url(../images/bannerbg.html);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    padding: 50px 0px 60px 0px;

}

.bg_2 {
    background: linear-gradient(to right, #FF1616  0%, #F75f72 100%);
    position: relative;
}

    .bg_2:before {
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        content: '';
        background: url(../images/curve.html) 100% 100% no-repeat;
        background-size: cover;
    }

.fe-box h2 {
    font-weight: 800;
    font-size: 38px;
    color: white;
}



.fe-box h3 {
    color: White;
}

.fe-box p {
    color: white;
    font-weight: 400;
    font-size: 20px;
}



.bg1 h1 {
    color: white;
    font-size: 51px;
    font-weight: 800;
    line-height: 1.25;
    letter-spacing: 0.2px;
}

.bg1 .one {
    position: relative;
    z-index: 10000;
}

.text-width {
    max-width: 900px;
    margin: auto;
    font-weight: 400;
}

.text-width2 {
    max-width: 600px;
    margin: auto;
    font-weight: 400;
}

.doc-box-main {
    background: #FF1616;
    /* background: #fdf7fb; */
    margin-left: 40px;
}

    .doc-box-main img {
        position: relative;
        top: 22px;
        left: -23px;
    }

.doc-box h4 {
    font-size: 20px;
    color: white;
}

/**/
/**/
#listing button.owl-prev span {
    position: absolute;
    top: 30px;
    left: -35px;
    font-size: 51px !important;
    color: #dcc262;
    border-radius: 100%;
}

    #listing button.owl-prev span:hover {
        opacity: 0.8;
    }

#listing button.owl-next span:hover {
    opacity: 0.8;
}

#listing button.owl-next span {
    position: absolute;
    top: 30px;
    right: -35px;
    font-size: 51px !important;
    color: #dcc262;
    border-radius: 100%;
}


/**/


.roadmap-carousel-container {
    position: relative;
}

    .roadmap-carousel-container:before {
        opacity: 0.4;
        background: #8484a4 !important;
        position: absolute;
        height: 2px;
        width: 100%;
        content: '';
        left: 0;
        top: 47px;
    }


.roadmap-item p b {
    font-weight: 600 !important;
}

.c_us {
    font-size: 19px;
}

.roadmap-item p {
    font-size: 17px;
}

/**/
.zoom {
    transition: transform .7s;
    width: 330px;
}

    .zoom:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
    }

/**/


.roadmap-item:after {
    position: absolute;
    top: 83px;
    left: 50%;
    content: '';
    transform: translateX(-50%);
    height: 60px;
    width: 2px;
    background: rgba(132,132,164,.3);
}

.roadmap-item {
    text-align: center;
    position: relative;
    padding: 0 20px;
    margin-bottom: 30px;
}

    .roadmap-item h6 {
        text-transform: uppercase;
        color: #FF1616;
        position: relative;
        padding-bottom: 120px;
        font-size: 20px;
        font-weight: 600;
    }

        .roadmap-item h6:before {
            background: #FF1616;
            top: 33px;
            height: 30px;
            width: 30px;
            opacity: 0.3;
        }

        .roadmap-item h6:after {
            top: 40px;
            height: 16px;
            width: 16px;
            background: #FF1616 !important;
        }


        .roadmap-item h6:before, .roadmap-item h6:after {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            border-radius: 50%;
        }

#howto h2 {
    color: white;
}

#howto p {
    color: white;
}

#howto a {
    color: white;
    text-decoration: underline;
}




/**/

.line {
    background: #FF1616 !important;
    width: 110px;
    height: 6px;
    display: inline-block;
    margin: 0 auto;
    display: block;
    border-radius: 3px;
    margin-top: 15px !important;
}

.bg1 h1 .two:after {
    background: #d6111e;
    position: absolute;
    bottom: 1px;
    width: 152px;
    height: 15px;
    left: 0px;
    content: '';
    display: inline-block;
    z-index: 1;
}

.bg1 p {
    color: white;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700 !important;
}

/**/
.text1 {
    font-size: 19px;
    font-weight: 500;
}



/**/


form {
    max-width: 700px;
    margin: auto;
}


.cs-input {
    background: #fff;
    height: 47px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300 !important;
}

.form-control:focus {
    box-shadow: none !important;
    background: none !important;
    border: 1px solid gray !important;
}

.cs-input-area {
    background: #fff;
    border: 1px solid #cacaca;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300 !important;
}

.btn1 {
    background: none !important;
    border: 2px solid #FF1616 !important;
    text-align: center;
    color: #FF1616 !important;
    padding: 11px 38px 11px 38px !important;
    border-radius: 35px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px !important;
}

    .btn1:hover {
        color: white !important;
        background: #FF1616 !important;
    }

.btn2 {
     font-family: 'Poppins', sans-serif;
    background: #FF1616 !important;
    border: 2px solid #fff !important;
    text-align: center;
    color: #fff !important;
    padding: 12px 33px 10px 33px !important;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
}

    .btn2:hover {
        background: white !important;
        color: #222 !important;
    }


.btn3 {
    background: none !important;
    border: 2px solid #fff !important;
    text-align: center;
    color: white !important;
    padding: 9px 20px 8px 20px !important;
    border-radius: 35px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

    .btn3:hover {
        background: white !important;
        color: #222 !important;
    }

.btn4 {
    background: white !important;
    border: 3px solid white !important;
    text-align: center;
    border-radius: 11px;
    color: #111 !important;
    padding: 14px 33px 15px 33px !important;
    font-size: 21px;
}


    .btn4:hover {
        background: #f0f0f0 !important;
        border: 3px solid #f0f0f0 !important;
    }


.btn5 {
    background: white !important;
    border: 3px solid white !important;
    text-align: center;
    border-radius: 100px;
    color: #d6111e !important;
    padding: 16px 53px 18px 53px !important;
    font-size: 21px;
}

    .btn5:hover {
        background: #d6111e !important;
        color: white !important;
        border: 3px solid #d6111e !important;
    }


.contact_us {
    background: #ffa5001f;
}

/**/

.f500 {
    font-weight: 400;
}

.partners img {
    width:auto;
    height:auto;
}

.partners a {
    line-height: 78px;
}

.community h5 {
    font-weight: 600;
    padding-top: 15px;
    color: white;
    font-size: 23px;
}

.community a {
    display: inline-block;
    width: 78px;
    height: 78px;
    text-align: center;
    color: white;
    border-radius: 100%;
    border: 2px solid white;
    font-size: 50px;
    line-height: 78px;
}

    .community a:hover {
        opacity: 0.8;
    }

.gradient-heading {
    background:#FF1616;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading2 {

    font-size: 46px;
}

.box-white {
    background: white;
    padding: 22px 10px;
    text-align: center;
    border-radius: 9px;
    box-shadow: 0px 0px 27px 11px #f0efef;
    width: 115px;
    margin: 0 auto;
    display: block;
}

.service-box p {
    font-size: 19px;
    line-height: 27px;
}

.group h2 {
    font-size: 60px;
    line-height: 67px;
}



.navbar-div span {
    color: white;
    font-size: 28px;
    position: relative;
    top: 5px;
    font-weight: 900;
    display: inline-block;
    position: relative;
    font-family: 'Nunito', sans-serif;
}


.header-scrolled .navbar-div span {
    color: #b7b7b7;
    font-size: 25px;
    position: relative;
    top: 5px;
    font-weight: 900;
    display: inline-block;
    position: relative;
}

    .header-scrolled .navbar-div span:after {
        width: 310px;
        height: 3px;
        position: absolute;
        left: 0px;
        bottom: -9px;
        content: '';
        background: #FF1616;
    }


.contact-box {
    background: white;
    padding: 40px 10px;
    text-align: center;
    border-radius: 9px;
    box-shadow: 0px 0px 27px 11px #f0efef;
}

    .contact-box h3 {
    }

    .contact-box p {
        color: #808080;
        margin-bottom: 0px;
        font-size: 24px;
    }

footer {
    background: white;
    padding: 40px 0px 10px 0px;
}

    footer p {
        font-size: 15px;
        font-weight: 400;
    }









@media (min-width:992px) and (max-width:1199px) {


    .contact-box p {
        font-size: 21px;
    }

    .logo-img {
        width: 70px;
    }


    .title {
        font-size: 55px;
    }

    .contact-box h3 {
        font-size: 23px;
    }

    .package-table {
        font-size: 19px;
    }

    .plan-box h2 {
        font-size: 24px;
    }

    .t-large1 {
        font-size: 19px;
    }

    .t-large {
        font-size: 19px;
    }



    .custom-nav-details a {
        padding: 5px 9px !important;
        font-size: 12px !important;
    }

    .custom-nav-details .btn-header {
        font-size: 12px !important;
        padding: 7px 8px 7px 8px !important;
    }

    .header-scrolled .custom-nav-details .btn-header {
        font-size: 12px !important;
        padding: 7px 8px 7px 8px !important;
    }

    .bg1 h1 {
        font-size: 55px;
    }

    #header {
        padding: 10px 0px;
    }

    .line {
        width: 130px;
        height: 10px;
    }


    .bg1 p {
        font-size: 17px;
    }

    .btn1 {
        padding: 13px 36px 14px 36px !important;
        font-size: 18px;
    }

    .btn2 {
        padding: 13px 36px 14px 36px !important;
        font-size: 18px;
    }
}

@media (min-width:768px) and (max-width:991px) {


    .header-scrolled .custom-nav-details a {
        color: white !important;
    }


    .header-scrolled .custom-nav-details .btn-header {
        border: none !important;
        color: white !important;
        padding-left: 15px !important;
    }

    .custom-nav-details a {
        font-size: 17px;
        padding: 5px 14px !important;
        font-size: 17px !important;
    }

    .custom-nav-details .btn-header {
        margin-top: 0px !important;
        background: none !important;
        border: none !important;
        text-align: left !important;
        padding: 5px 20px !important;
        /*color: #223b55 !important;*/
        padding-left: 15px !important;
        font-size: 17px;
    }

    .bg1 h1 {
        font-size: 38px;
    }

    .line {
        width: 90px;
        height: 10px;
    }


    .bg1 p {
        font-size: 17px;
    }

    .btn1 {
        padding: 13px 26px 14px 26px !important;
        font-size: 18px;
    }

    .btn2 {
        padding: 13px 26px 14px 26px !important;
        font-size: 18px;
    }
}


@media(min-width:991px) {
    .custom-nav-details a:hover {
        color: rgb(26, 25, 25) !important;
    }

    .header-scrolled .custom-nav-details a:hover {
        color:  #FF1616 !important;
    }

    .header-scrolled .custom-nav-details .btn-header:hover {
        color: white !important;
    }
}


@media(max-width:991px) {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.99)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
    }

    .navbar-toggler {
        border: 2px solid white !important;
    }

    

    .header-scrolled {
        background: linear-gradient(to right, #fb3800 0%, #fbc500 100%) !important;
    }
}


@media(max-width:767px) {

   
    .zoom {
        width: 270px;
    }

    .header-scrolled .custom-nav-details a {
        color: white !important;
    }


    .header-scrolled .custom-nav-details .btn-header {
        border: 2px solid white !important;
        color: white !important;
        padding-left: 15px !important;
    }


    .custom-nav-details {
        padding-top: 10px;
        background: #5f5f5f;
        padding: 10px 14px;
    }

        .custom-nav-details .btn-header {
            margin-top: 10px !important;
        }

    .social i {
        margin-right: 1px;
    }

    #howto h2 {
        font-size: 24px;
        padding-bottom: 5px;
    }

    .logo-img {
        width: 70px;
    }

    .community h5 {
        font-size: 20px;
    }

    #listing button.owl-prev span {
        left: -20px !important;
    }

    #listing button.owl-next span {
        right: -20px !important;
    }

    #header {
        padding: 5px 0px;
    }


    .group h2 {
        font-size: 44px;
        line-height: 49px;
    }

    /*.custom-nav-details .btn-header {
        padding: 11px 20px 12px 20px !important;
    }*/

    .image-list {
        width: 100%;
    }

    .btn1 {
        padding: 13px 26px 14px 26px !important;
        font-size: 18px;
    }

    .faq-main .btn-link {
        font-size: 21px;
    }

    .faq-main p {
        font-size: 18px;
    }

    .btn6 {
        font-size: 17px;
    }

    .title {
        font-size: 45px;
    }



    .btn2 {
        padding: 10px 20px 10px 20px !important;
        font-size: 14px;
        margin-bottom: 9px;
    }

    body {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
    }

    .heading2 {
        font-size: 34px;
    }


    .roadmap-carousel-container {
        margin: 0px 20px;
    }

    .line {
        width: 92px;
        height: 5px;
    }



    .fe-box h3 {
        color: White;
        font-weight: 700;
        font-size: 23px;
    }

    .bg1 h1 {
        font-size: 30px;
    }

    .bg1 p {
        font-weight: 600 !important;
        font-size: 19px;
    }
}

@media(min-width:1300px) {
    .nav-container {
        max-width: 1270px !important;
    }

    .br-block {
        display: block;
    }

    .t-large {
        font-size: 19px;
        line-height: 34px;
    }
}


@media(max-width:1199px) {

    .text-num {
        word-break: break-all;
    }
}


.pc{
    display: block;

}
.phone{
    display: none;
}

.copy-btn{
    background: #FF1616;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
    border-color: #fff;
    margin-top: 10px;
    color: #2f2f2f;
    padding: 7px 35px 7px 35px;
}
.copy-btn:hover{
    background: #fff;
}
.copy-box{
    border-radius: 7px;
    border-color: #000000;
    display: none;
}

/*===== Mobile, tab and medium & small device =====*/
@media screen and (max-width: 768px)
{
    /*===== start Mobile css =====*/

.pc{
    display: none;

}
.phone{
    display: block;
}


}